*{
	margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
p{
	font-size: 18px;
	font-weight: 400;
}
.body{
	padding: 0;
	background-color: #282828;
	color: #EBDBB2;
}
.header{
	height: 29px;
	display: flex;
	justify-content: center;
	color: #282828;
	font-family: Inter;
	background-color: #EBDBB2;
	align-items: center;
}
.header_container{
	max-width: 1200px;
}
.main{
	display: flex;
	justify-content: center;
}
.container{
	max-width: 1200px;
}
.wrapper{
	display: grid;
	grid-template-columns: 352px auto;
}
.left{
	background-color: #EBDBB2;
	color: #282828;
}
.left ::selection{
	background-color: brown;
	color: #EBDBB2;
}
.photo-container{
	display: flex;
	justify-content: center;
	align-items: center;
}
.photo{
	margin: 0px 18px 14px 18px;
	z-index: 1;
	transition: opacity 0.5s;
	opacity: 1;
	width: 350px;
	height: 306px;
}
.info__main{
	margin-left: 18px;
	font-size: 24px;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.info__sub_title{
	font-size: 18px;
	margin: 17px 0 8px 0;
}
.info_text{
	font-size: 18px;
	font-weight: 400;
}
.bar{
	border: none;
	border-top: 1px solid #282828;
	height: 1px;
	background-color: #282828;
	width: 316px;
	margin: 0;
}
.text_link{
	text-transform: none;
	text-decoration: none;
}
.text_link:hover{
    color: #D3869B;
}
.text_link:hover::before{
    transform: scaleX(1);
    transition: transform 0.25s;
    transform-origin: left;
}
.text_link {
	position: relative;
	display: inline-block;
}
.text_link:before {
	content: "";
	height: 2px;
	background-color: #D3869B;
	position: absolute;
	left: 0;
	bottom: -2px;
	transform: scaleX(0);
	transition: transform 0.25s;
	transform-origin: right;
}
.text_link:hover:before {
	transform: scaleX(1);
}
.text_link span {
	display: inline-block;
}
.text_link:before {
	width: 100%;
}
.right{
	margin-top: 42px;
	margin-left: 80px;	
	font-size: 24px;
	font-family: Inter;
	font-weight: 700;
}
.right ::selection{
	background-color: brown;
}
.info_element{
	display: flex;
}
.right_text_title{
	width: 100px;
}
.right__bar{
	border: none;
	border-top: 1px solid #EBDBB2;
	height: 1px;
	background-color: #EBDBB2;
	width: 316px;
}
.about_me{
	margin-top: 20px;
}
.about__info__text{
	margin-top: 10px;
}
.education{
	margin-top: 10px;
}
.projects{
	margin-top: 10px;
}
.projects__info__list__item{
	margin-top: 10px;
}
.projects__info__list__item a, p{
	display: inline;
}
.footer{
	display: flex;
	justify-content: center;
}
.footer_container{
	width: 1200px;
}
.footer_inner{
	width: 352px;
	display: flex;
	justify-content: space-between;
}
.footer_text{
	font-family: Inter;
	font-weight: 400;
}
